exportPattern("^[[:alpha:]]+")

import(sp)
import(spdep)
import(methods)
import(meteoland)
import(medfate)
importFrom(Rcpp, evalCpp)
useDynLib(medfateland, .registration = TRUE)

exportClasses(SpatialPointsLandscape, SpatialGridLandscape, SpatialPixelsLandscape, DistributedWatershed)
exportMethods("[", show, spplot, head, tail)

S3method(plot,spwbgrid)
