import(sp)
import(sf)
import(ggplot2)
import(spdep)
import(methods)
import(meteoland)
import(medfate)
importFrom(Rcpp, evalCpp)
importFrom("stats", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster", "clusterExport", "clusterApply")
export(buildWatershedTopography,
       defaultWatershedCorrectionFactors,
       DistributedWatershed,
       fordynpoints, fordynpixels, fordyngrid,
       growthpoints, growthpixels, growthgrid,
       plot.spwbland, plot.growthland,
       spwbpoints, spwbpixels, spwbgrid,
       SpatialPointsLandscape, SpatialPixelsLandscape, SpatialGridLandscape,
       spwbland, growthland)

useDynLib(medfateland, .registration = TRUE)

exportClasses(SpatialPointsLandscape, SpatialGridLandscape, SpatialPixelsLandscape, DistributedWatershed)
exportMethods("[", show, getLandscapeVariable, getLandscapeLayer, 
              spatialForestSummary, spatialSoilSummary, 
              plot, spplot, head, tail)

S3method(plot,spwbland)
S3method(plot,growthland)

S3method(plot,summarypoints)
S3method(plot,summarypixels)
S3method(plot,summarygrid)

S3method(summary,spwbpoints)
S3method(summary,spwbpixels)
S3method(summary,spwbgrid)
S3method(summary,growthpoints)
S3method(summary,growthpixels)
S3method(summary,growthgrid)
S3method(summary,fordynpoints)
S3method(summary,fordynpixels)
S3method(summary,fordyngrid)
